.slick-slide div {
  outline: none !important;
}

.slick-slide {
  position: relative !important;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}
