body {
  margin: 0;
  padding: 0;
  background-color: #1a191f;
  color: white;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --textColor: #ec7532;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
